%h1
  Friday, February 15, 2013
%aside.schedule
  - Talk.all.each do |talk|
    %article.vevent{ :class => (talk.plenary? ? nil : "vevent-talk") }
      %h1.summary
        = talk.title
      %time.dtstart{:datetime => talk.start.to_time.iso8601}
        = talk.start.strftime('%I:%M')
      %h2
        = talk.speaker
      %p.description
        = talk.description
